<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome to My Page</title>
        <style type="text/css">
        * {
            font-family:'Times New Roman', Times, serif;
        }
        h2 {text-align: center;}
        table {
            text-align: center; 
            width:30%; 
            position:relative; 
            margin:auto;}
        th {background-color: antiquewhite;}
        section {
            position: relative; left: 100px; top: 30px;
        }
        footer {
            position:absolute; bottom:20px; left: 20px;
        }
        </style>
    </head>
    <body>
        <h2>Introduction</h2>

        <table border="1">
            <caption>Yeonsu</caption>
            <thead>
                <tr>
                    <th>list</th> <th>contents</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>name</td> <td>Lee Yeonsu</td>
                </tr>
                <tr>
                    <td>Birth</td> <td>2001.06.27</td>
                </tr>
                <tr>
                    <td>School</td> <td>Sookmyung Women's University</td>
                </tr>
                <tr>
                    <td>Major</td> <td>IT Engineering</td>
                </tr>
                <tr>
                    <td>Student Number</td> <td>2012913</td>
                </tr>
                <tr>
                    <td>e-mail</td> <td>bestdustn@sookmyung.ac.kr</td>
                </tr>
            </tbody>
        </table>

        <article>
            <section>
                <p>
                    Hello, Nice to meet you.<br>
                    Unfortunately, my computer cannot decoding Korean..<br>
                    So I had to made this page in English.
                    I want to buy a Macbook right now.
                </p>
            </section>
        </article>
    </body>

    <footer>
        Copyright: Yeonsu Lee
    </footer>
</html>